<% var head = {
  title:'HOME | Numbdivision',
  key:'Numbdivision',
  desc:'音／山／フォト／イラスト／色々。',
  og_type:'website',
  og_image:'www.numbdivision.info/assets/images/img_sns.jpg',
  og_site_name:'Numbdivision',
  og_title:'Numbdivision',
  og_locale:'ja_JP',
  og_url:'www.numbdivision.info',
  og_desc:'音／山／フォト／イラスト／色々。'
}; %>
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
<% include _include/_head %>
</head>
<body>
  <header>
    <h1>テスト</h1>
  </header>
</body>
</html>